@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    background: #f2f2f2;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    padding-top: 50px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3bc492;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #c0392b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */
table {
    border: 1px solid #ddd;
}

table.tablesorter td {
    font-size: .9em;
}

table.tablesorter thead th {
    cursor: pointer;
    font-weight: normal;
}

table.tablesorter .header {
    background: #505050;
    padding-left: 30px;
    padding-top: 8px;
    height: auto;
    color: #fff;
    text-shadow: 0 1px 0 #000;
}
table.tablesorter .headerSortUp {
    background-image: url(../images/asc.png);
    background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
    background-image: url(../images/desc.png);
    background-repeat: no-repeat;
}

.hideen {
    display: none;
    width: 0;
    height: 0;
}
